body {
    background-color: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    color: #38bdf8;
}

.subtitle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.result {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid #38bdf8;
}
